.container {
  display: flex;
  flex-direction: column;
  place-items: center;
}

/* List */
.products-table {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 1px 1px grey;
}

.products-table tbody td img {
  width: 50px;
  height: 50px;
}

/* Form */
.product-form-container {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 1px 1px grey;
}

